datalad >= 0.19.1
datalad-next >= 1.3
datalad-metalad >= 0.4.16
datalad-wackyextra @ git+https://github.com/mslw/datalad-wackyextra.git@main
datalad-catalog @ git+https://github.com/datalad/datalad-catalog@main
tomli >= 2.0.1
tomli_w >= 1.0.0
beautifulsoup4 >= 4.12.3
