datalad >= 0.18.3
datalad-next >= 1.0.0b2
datalad-metalad >= 0.4.16
datalad-wackyextra @ git+https://github.com/mslw/datalad-wackyextra.git@main
datalad-catalog @ git+https://github.com/datalad/datalad-catalog@main
